/*Nav bar*/
.nav{
    padding: 35px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: RGB(241, 243, 249);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;
}
a:hover{
    background-color:rgba(146, 233, 240, 0.73);
    color:RGBA(89, 81, 81, 0.62) !important;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Carousel*/
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

  /*Xbox*/
.pic{
  width:100% !important;
  opacity:0.7;
  filter:alpha(opacity=60);  
}