/*Nav bar*/
.brand{
  float: right;
  margin-top: -25px;
}
.nav{
    padding: 35px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: RGB(241, 243, 249);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;
}
a:hover{
    background-color:rgba(146, 233, 240, 0.73);
    color:RGBA(89, 81, 81, 0.62) !important;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Carousel*/
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

  /*Xbox*/
.ximg { 
  width: 100% !important; 
  background-size: cover;
}
.xvid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:20rem !important;
  float: left;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  margin-top: 0;
  letter-spacing: .3rem;
}

/*PS*/
.pimg { 
  width: 100%;
  margin-top:150px; 
  background-size: cover;
}
#polin { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:20rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  margin-top: 0;
  letter-spacing: .3rem;
}

/*footer*/
.foot{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: flex-end;
  background-color: white;
}
hr{
  width: 100px !important;
  height: 4px !important;
}